<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapContent">
    <nav>
      <div class="navigationBtn">
        <a href="#" class=""><img class="logoNav" src="/images/logoNav.png" alt=""></a>

      </div>
      <div class="navigationBtn">
        <a href="#" class="btn">All Classes</a> |
        <a href="#" class="btn">About</a> |
        <a href="#" class="btn">Contact</a> |
        <a href="#" class="btn">News</a> |
        <a href="#" class="btn">Team</a> |
        <% if (user) { %>
          <a class="loginBtn" href="/logout">LOG OUT</a>
          <% } else { %>
            <a class="loginBtn btn" href="/auth/google">LOG IN</a>
            <% } %>
      </div>
    </nav>