<%- include('../partials/header.ejs') %>

  
  <h2>Create Class</h2>

  <form action="/classes/myclasses" method="POST">

      <input class="newInputs" type="text" name="name" placeholder="Class Name">
    <br>

    <input class="newInputs" type="text" name="description" placeholder="Class description">
    <br>

    <label for="startDate">Start Date</label>
    <input type="date" name="startDate">

    <label for="endDate">End Date</label>
    <input type="date" name="endDate">
  
    <br>
      <label for="grade">grade</label>
      
      <select class="newInputs" name="grade">
        <option value="Primary">Primary</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Secondary">Secondary</option>
      </select>
    <br>
  
  
    <button id="submit" type="submit">Create Class</button>
  
  </form>


<%- include('../partials/footer.ejs') %>