<%- include('../partials/header.ejs') %>

  
<header>
  <h2>Create Class</h2>
</header>

<div id="form">
  <form id="classForm" action="/classes" method="POST" enctype="multipart/form-data">

    <div class="formgroup" id="name-form">
      <label for="name">Class Name</label>
      <input class="newInputs" type="text" name="name" placeholder="Class Name" required>
    </div>
    <br>

    <div class="formgroup" id="description-form">
      <label for="description">Description</label>
      <textarea name="description" placeholder="Class Description" cols="160" rows="5" required></textarea>
  </div>
    <br>

    <div class="formgroup date">
      <div class="startDate">
        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" required>
      </div>

      <div class="endDate">
        <label for="endDate">End Date</label>
        <input type="date" name="endDate" required>
      </div>
    </div>
  
    <br>
    <div class="formgroup">
      <label for="grade">grade</label>
      <select class="newInputs" name="grade" required>
        <option value="Primary">Primary</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Secondary">Secondary</option>
      </select>
    </div>
    <br>

    <div class="formgroup">
      <label for="image">Image</label>
      <input type="file" name="image" id="imgInput" required>
    </div>
    <br>
  
  
    <div class="viewBtn">
      <button id="submit" type="submit">Create Class</button>
      <a href="/classes/myclasses" class="editLink">Back</a>
    </div>
  
  </form>
</div>

<%- include('../partials/footer.ejs') %>