body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  height: 100vh;
  background: #eeeeee;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#onboarding {
  display: grid;
  justify-content: center;
  align-items: center;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  width: 100%;
}

select:hover {
  border-color: #999;
}

button {
  margin: 10px 0;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

#flexy {
  display: flex;
  justify-content: center;
}

.navigationBtn {
  padding: 5px;
  font-size: 20px;
}

.btn {
  padding: 5px;
  text-decoration: none;
  color: gray;
  height: 100%;
  font-size: 20px;
}

.btn:hover {
  color: black;
  border-bottom: solid black 2px;
}

.logoNav {
  width: 100px;
  margin-right: 20px;
}

.wrapContent {
  height: 500px;
  background-image: url('../images/homepageApple.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.motto {
  grid-area: 2 / 2 / 6 / 6;
  font-size: 30px;
}

.wrapClasses {
  width: 70%;
}

.gridClasses {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.classImg > img {
  width: 300px;
}

/*Class Index page Style*/

ul.class-items {
  padding: 2px 130px;
  list-style: none;
  margin-bottom: 5px;
}

ul.class-items > li.item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

ul.class-items > li.item > .task {
  display: flex;
  align-items: center;
  width: 240px;
  justify-content: space-between;
}

ul.class-items > li.item > .task > .icon,
img {
  background: #bdbdbd;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

ul.class-items > li.item > .task > .task-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 50px;
}

ul.class-items > li.item > .task > .task-content > .name {
  width: 180px;
  height: 25px;
  border-radius: 5px * 3;
  margin-bottom: 8px;
  font-weight: bold !important;
  font-size: 20px !important;
}

ul.class-items > li.item > .task > .description {
  background: #eeeeee; /* or any other desired style */
  width: 180px; /* or adjust as needed */
  height: 25px; /* or adjust as needed */
  border-radius: 5px * 3;
  margin-bottom: 10px;
}

ul.class-items > li.item > .viewBtn {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 35px;
}

ul.class-items > li.item > .viewBtn > form > .view {
  background-color: #3498db;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}

ul.class-items > li.item > .viewBtn > .view:last-child {
  margin-right: 0;
}

.myClass-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createLink {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #3498db;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/*Create class style*/

h2 {
  font-weight: normal;
  font-size: 3em;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  text-align: center;
}

header {
  height: 80px;
}

#form {
  position: relative;
}

#classForm {
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formgroup label,
input,
select,
textarea {
  display: block;
}

.formgroup label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 12px;
}

.formgroup input,
select,
textarea {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  border: solid 3px #98d4f3;
  box-sizing: border-box;
}

.formgroup input:focus,
select:focus,
textarea:focus {
  border: solid 3px #3498db;
}

.formgroup input:hover,
select:hover,
textarea:hover {
  border: solid 3px #3498db;
}

#submit,
.editLink {
  background-color: green;
  color: #ffffff;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  border: black 2px solid;
}

.editLink {
  text-decoration: none;
  padding: 13px 16px;
  background-color: #3498db;
}

.editLink:hover {
  background-color: #1d70a8;
}

.formgroup {
  width: 100%;
  padding-top: 2px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.startDate,
.endDate {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
}
.endDate {
  margin-right: 0;
}

#imgInput {
  background: white;
  height: 70px;
}

.prevImg {
  position: relative;
  display: flex;
}

#imgImage {
  position: absolute;
  right: 30px;
  top: 6px;
}
