<%- include('../partials/header') %>
<header>
  <a href="/classes/<%= classId %>" id="backBtn">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Back
  </a>
  <h2>Reviews</h2>
</header>
<main id="listReview">
  <% if (reviewList.length > 0) {
    reviewList.forEach((value) => { %>      
      <div class="review">
        <p>
          <%= value.message %>
        </p>
        <p>
          <% for (let i = 1; i <= 5; i++) { 
            if (i <= (value.rating)) { %>
              <span class="fa fa-star checked"></span>
            <% } else { %>
              <span class="fa fa-star"></span>
            <% } %>
          <% } %>
        </p>
      </div>
    <% }); 
  } else { %>
    <h4>No Reviews</h4>
  <% } %>
</main>
<%- include('../partials/footer') %>