<%- include('../partials/header') %>
  <form action="/classes/<%= classId %>/newPost" method="POST">
    <label for="heading">Title: </label><input type="text" name="heading" placeholder="Post Title">
    <label for="massage">Message: </label><textarea name="message" rows="4" cols="50"
      placeholder="Post Description"></textarea>
    <button type="submit">Post</button>
  </form>
  <%- include('../partials/footer') %>