<%- include('./partials/header.ejs') %>

    <div class="grid">
        <div class="motto">
            <h1>Your Online Classroom</h1>
            <h1>Access From Anywhere & Anytime</h1>
            <h1>Unlimit Yourself and Elevate Your Education</h1>
        </div>
    </div>


    <%- include('./partials/footer.ejs') %>