<%- include('./partials/header.ejs') %>

    <div class="grid">
        <div class="motto">
            <h1>Education for Everyone</h1>
            <h4>Accessable from Everywhere</h4>
        </div>
    </div>
    <!-- wrapContent div end --></div>
    <div id="flexy">
        <div class="wrapClasses">
            <h2>Our Featured Classes</h2>
            <div class="grid">
                <h3>class 1</h3>
                <h3>class 2</h3>
                <h3>class 3</h3>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>