<%- include('./partials/header.ejs') %>
<main id="onboarding">
  <header>
    <h2>Select Role</h2>
  </header>
  <form action="/users/<%= user._id %>?_method=PUT" method="POST">
    <select name="role">
      <option value="" disabled>Select Role</option>
      <option value="teacher">Teacher</option>
      <option value="student">Student</option>
    </select>
    <br>
    <button id="submit" type="submit">Submit</button>
  </form>
</main>
<%- include('./partials/footer.ejs') %>
