<%- include('./partials/header.ejs') %>
<main id="onboarding">
  <h1>Select Role</h1>
  <form action="/users/<%= user._id %>" method="POST">
    <select name="role">
      <option value="" disabled>Select Role</option>
      <option value="teacher">Teacher</option>
      <option value="student">Student</option>
    </select>
    <br>
    <button type="submit">Submit</button>
  </form>
</main>
<%- include('./partials/footer.ejs') %>
